<!DOCTYPE html>
<html>
<head>
<title>MatchMaker</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<div class="container">
  <div class='col-md-12'>
    <h1>Tennis Matchmaker</h1>
    <p> Please enter into your phone validation code <%= callerId.validationCode %> </p>
  </div>
</div>
</body>
</html>